language: minimal

services:
  - docker

env:
  global:
    - DOCKER_CLI_EXPERIMENTAL=enabled

jobs:
  include:
    - name: Ignition Nightly Docker Image
      if: branch = nightly
      env: BUILD_TARGET=multibuild-nightly DOCKER_MULTI_ARCH=linux/arm,linux/amd64,linux/arm64
    - name: Ignition 7.9 Docker Image
      if: branch = master
      env: BUILD_TARGET=.multibuild-7.9 DOCKER_MULTI_ARCH=linux/amd64,linux/arm
    - name: Ignition 8.0 Docker Image
      if: branch = master
      env: BUILD_TARGET=.multibuild-8.0 DOCKER_MULTI_ARCH=linux/arm,linux/amd64,linux/arm64
    - name: Ignition 8.1 Docker Image
      if: branch = master
      env: BUILD_TARGET=.multibuild-8.1 DOCKER_MULTI_ARCH=linux/arm,linux/amd64,linux/arm64

before_install:
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce

before_script:
  - sudo service docker restart
  - docker run --privileged linuxkit/binfmt:v0.8
  - docker buildx create --name mybuilder --use --driver-opt network=host
  - echo $HUB_PASSWORD | docker login -u "$HUB_LOGIN" --password-stdin

script:
  # Run multibuild and override BASE_IMAGE_NAME so that things flow to Docker Hub
  - make ${BUILD_TARGET} BASE_IMAGE_NAME=kcollins/ignition DOCKER_MULTI_ARCH=${DOCKER_MULTI_ARCH}

branches:
  only:
    - master
    - nightly